<!DOCTYPE html>
<html>
    <head>
        <title>
            Index
        </title>
    </head>
    <body>
        <h1>Welcome to our site</h1><br>
        <a href="/login">Login here</a><br>
        <a href="/register">Register here</a>
    </body>
</html>