<!DOCTYPE html>
<html>
    <head>
        <title>
            Login to our site
        </title>
    </head>
    <body>
        <h1>Login</h1>
<form method="POST" >
    <label >Email: </label><br>
    <input type="email" name="email" required><BR>
    <label >Password: </label><br>
    <input type="password" name="password" required><br>
        <button type="submit">Login</button>
</form>
Did not register <br>
<a href="/register">Register here</a>
    </body>
</html>
