<!DOCTYPE html>
<html>
    <head>
        <title>
            Register to our site
        </title>
    </head>
    <body>
        <h1>Register</h1>
<form method="POST" >
    <label>Name:</label><br>
    <input type="text" name="name"><br>
    <label >Email: </label><br>
    <input type="email" name="email" required><BR>
    <label >Password: </label><br>
    <input type="password" name="password" required min="7"><br>
        <button type="submit">Register</button>
</form>
Did not register <br>
<a href="/login">login here</a>
    </body>
</html>
